@media screen and (max-width: 1199px) {
	.banner-main-content .figure {
		max-width: 200px;
	}
	.banner-main-content h1 {
		font-size: 30px;
	}
	.button-groups ul li a {
		min-width: 300px;
	}
}
@media screen and (max-width: 1049px) {
	
	.button-groups ul li {
		
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.header-area nav ul li {
		font-size: 24px;
	}
	.brand a span {
		margin-left: 25px;
	}
	.banner-main-content {
		margin-top: 100px;
	}
	.banner-main-content h1 {
		font-size: 25px;
	}
	nav ul li a {
		margin: .5rem 1.25rem;
	}
}
@media screen and (max-width: 859px) {
	.right-column .send {
		min-width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.skills{
		text-align: center;
	}
	.contact-area .right-column {
		max-width: 100%;
	}
	.contact-area .left-column {
		max-width: 100%;
	}
	.banner-img {
		max-width: 100%;
		width: 767px;
		height: 458px;
	}
	.menu-toggle{
		display: block;
	}
	header {
		background-size: contain;
	}
	.menu ul { float: none; }
	.copyright .social {
		position: initial;
		display: table;
		margin: auto;
		padding: 0 15px;
	}
	.copyright .social li.fb {
		margin-left: 0;
	}
	.product-item {
		display: table;
		margin: auto;
	}
	nav ul li a {
		margin: .3rem 0;
	}
	.link {
		display: block;
	}
}
@media screen and (max-width: 575px) {
	.header-area nav ul li {
		font-size: 20px;
	}
	.navbar-toggler {
		font-size: 1.75rem;
		padding: .25rem .75rem;
	}
	nav ul li a {
		margin: .25rem 0;
	}
	.intro-area .title h2 {
		font-size: 30px;
	}
	.product-area .title h2 {
		font-size: 30px;
	}
	.work-area .title h2 {
		font-size: 30px;
	}
	.customer-area .title h2 {
		font-size: 30px;
	}
	.contact-area form .label {
		font-size: 20px;
	}
	.right-column .send {
		min-height: 60px;
	}
	.customer-box h4 {
		font-size: 25px;
	}
	.customer-box p {
		font-size: 20px;
	}
	.customer-box p::before {
	 	top: 0; 
	}
	.work-item h4 {
		font-size: 20px;
	}
	.work-item p {
		font-size: 18px;
	}
	.intro-area-item h3 {
		font-size: 20px;
	}
	.intro-area-item ul li {
		font-size: 18px;
	}
	.banner-main-content h1 {
		font-size: 22px;
	}
	.navbar {
		padding: 0 1rem; 
	}
	.info {
		display: block;
	}
}
@media screen and (max-width: 479px) {
	.button-groups a {
		min-width: 100%;
	}
	.tagline h2 {
		font-size: 25px;
	}
	.intro-area .title h2 {
		font-size: 25px;
	}
	.product-area .title h2 {
		font-size: 25px;
	}
	.work-area .title h2 {
		font-size: 25px;
	}
	.customer-area .title h2 {
		font-size: 25px;
	}
	.banner-main-content .figure {
		max-width: 180px;
	}
	.banner-img  {
		max-width: 100%;
		width: 650px;
		height: 406px;
	}
}
@media screen and (max-width: 320px) {
	#root{
		width:360px;
	}
 
	.banner-main-content h1 {
		font-size: 15px;
	}
	header{
		width:355px;
	}
}
